/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222 !important;
    color: #fff;
}

.jumbotron {
    background-color: #303030;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: #222 !important;
    color: #fff;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
select,
textarea,
input {
    max-width: 280px;
    color: #fff;
    background-color: #8d8d8d;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
        background-color: #222 !important;
        color: #fff;
    }
}
